

<p>
  <strong>Department:</strong>
  <%= @department.name %>
</p>


<p>
  <strong>Courses: </strong>
</p>
<ol>
  <% @department.courses.each do |course| %>
    <li> <%= course.number %>
  <% end %>
</ol>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
