<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<head>
  <title>A very simple SPA in Vue and Axios made into Spaghetti </title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="Itemlist">
    <button v-on:click="professors_selected=true">Professors</button>
    <button v-on:click="departments_selected=true">Departments</button>
    <button v-on:click="semesters_selected=true">Semesters</button>
    <button v-on:click="courses_selected=true">Courses</button>
    <button v-on:click="students_selected=true">Students</button>
    <button v-on:click="sections_selected=true">Sections</button>
    <ul>
      <span v-if="professors_selected">
        <strong>Professor's </strong>
        <div v-for="professor in professors">
          <li>
            <b> Name: </b> {{ professor.name }},
            <b>Office: </b> {{ professor.office }}
          </li>
        </div>
      </span>
      <span v-else-if="departments_selected">
        <strong>Departments </strong>
        <div v-for="department in departments">
          <li>{{ department.name }}</li>
        </div>
      </span>
      <span v-else-if="semesters_selected">
        <strong>Semester: </strong>
        <div v-for="semester in semesters">
          <li> {{ semester.semester }}</li>
        </div>
      </span>
      <span v-else-if="courses_selected">
        <strong>Courses: </strong>
        <div v-for="course in courses">
          <li>
            
              <weak>Number: </weak> {{ course.number }}
            <weak>Department: </weak>{{ course.department.name }},
            <weak>Credit hours: </weak> {{ course.hours }}
            <span v-if="course.sections">
              <small>Sections: </small> 
              <pre><div v-for="section in course.sections"> {{ section.section_number }} </div>
            </pre>
          </li>
        </div>
      </span>
      <span v-else-if="students_selected">
        <strong>Students: </strong>
        <div v-for="student in students">
          <li>
            <b>Name: </b>{{ student.name }},
            <b>Number: </b> {{ student.number }}
            <span v-if="student.sections">
              <pre>Section(s):</pre>
              <div v-for="section in student.sections">
                <pre>
                    <b>number:</b> {{ section.section_number }}
                    <b>year:</b> {{ section.year }}
                  </pre>
              </div>
            </span>
          </li>
        </div>
      </span>
      <span v-else-if="sections_selected">
        <strong>Sections: </strong>
        <div v-for="section in sections">
          <li>
            <b>Number: </b> {{ section.section_number }}
            <br>
            <weak>Course: </weak> {{ section.course.number }},
            <weak>Professor: </weak> {{ section.professor.name }},
            <weak>Semester: </weak> {{ section.semester.semester }},
            <weak>Year: </weak> {{ section.year }}
            <span v-if="section.students">
              <pre>
            <b>Students:</b>
            <div v-for="student in section.students">
              <b>Name: </b> {{ student.name }},
              <b>Number: </b> {{ student.number }}
            </div>
          </pre>
            </span>
          </li>
        </div>
      </span>
      <span v-else="pagesinfoselected=true"></span>
    </ul>
  </div>


  <script type="text/javascript">
    var ItemsVue = new Vue({
      el: "#Itemlist",
      data: {
        professors: [],
        professors_selected: false,
        departments: [],
        departments_selected: false,
        semesters: [],
        semesters_selected: false,
        courses: [],
        courses_selected: false,
        students: [],
        students_selected: false,
        sections: [],
        sections_selected: false,
        page: [],
        
      },
      mounted: function () {
 
        axios.get("http://localhost:3000/departments.json").then(response => {
          this.departments = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/semesters.json").then(response => {
          this.semesters = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/courses.json").then(response => {
          this.courses = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/professors.json").then(response => {
          this.professors = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/students.json").then(response => {
          this.students = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/sections.json").then(response => {
          this.sections = response.data;
        }).catch((error) => { console.log(error); });

        axios.get("http://localhost:3000/pages/info.json").then(response => {
          this.info = response.data;
        }).catch((error) => { console.log(error); });
      }

    });
  </script>

</body>

</html>